@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LET'S LEARN ABOUT COUNTRIES</h1>
    <p><a asp-controller="Countries" asp-action="Index">Let's gooooooooo</a></p>
</div>
